# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_KINESISPB

config ZMK_KEYBOARD_NAME
    default "Kinesis PillBug"

config ZMK_BACKLIGHT
    select LED
    select LED_GPIO

#config SHIELD_SSD1306_128X64
#    select ZMK_DISPLAY

#config SHIELD_SSD1306_128X32
#    select ZMK_DISPLAY

config ZMK_RGB_UNDERGLOW
    select WS2812_STRIP
    select SPI

# Uncomment below for OLED display
#if ZMK_DISPLAY

#config I2C
#    default y

#config SSD1306
#    default y

#config SSD1306_REVERSE_MODE
#    default y

#endif # ZMK_DISPLAY

endif # SHIELD_KINESISPB